{% extends 'base.html.twig' %}

{% block body %}

    There are over 13,000 packages on packagist.org with the tag 'symfony-bundle'.

    This tool help you browse them.
    {% for route, label in {
        package_browse: 'Browse using Datatables (Meilisearch)',
        admin_package_index: 'Browse using Easy Admin',
        app_insta: 'instant search',
    } %}
        <li>
            <a href="{{ path(route, {indexName: 'packagesPackage'}) }}">
                <code>{{ route }}</code>
                {{ label }}</a>
        </li>

    {% endfor %}

    <andypf-json-viewer data='{
    "url": https://hello.com",
    "test": "Hello World"}'></andypf-json-viewer>


        <style>
            .composer-package {
                font-family: monospace;
                font-size: 1.2em;
            }
            .composer-package__vendor {
                opacity: 0.6;       /* lighter tone */
                font-size: 0.9em;   /* slightly smaller */
            }
            .composer-package__name {
                font-weight: 600;   /* bolder */
                color: #222;        /* darker */
            }
        </style>
    <p>Installed package:</p>
    <span class="composer-package">
    <span class="composer-package__vendor">symfony</span>/
    <span class="composer-package__name">console</span>
  </span>


{% endblock %}

{% block title %}

{% endblock %}

