{% extends "package/base.html.twig" %}

{% block body %}
    <h1>{{ package.name }}</h1>

    {{ package.stars }}
    {{ package.data.time|ago }}

    <twig:item_grid
        :data="package.data.require">
    </twig:item_grid>

    <twig:item_grid
            :data="package.data">
    </twig:item_grid>

{% endblock %}
