{% extends "@SurvosBootstrap/%s/base.html.twig"|format(theme) %}
{% block javascripts %}
    {{ parent() }}
    {% block importmap %}
        {{ importmap('app') }}
    {% endblock %}
{% endblock %}

{% block body %}
    Replace the body tag
    {% if block('content') is defined %}
        Use body, not content!
    {% endif %}
{% endblock %}

{% block logo_mini 'Repo' %}
{% block logo_large 'Repo Manager' %}

{% set logo_large = 'Repository Manager (LOGO LARGE)' %}

{# idea
<span class="fa-layers fa-fw">
    <span class="fa-layers-text" style="font-family:Arial; font-weight: 900;">TY</span>
</span>
#}
